body, html {
    height: 100%;
    margin: 0%;
    padding: 0%;
    background: #37414a;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-y: scroll;
}

.active {
    background-color: #000;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    color: white;
    text-align: center;
    padding-left: 30px;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: white;
    text-align: center;
    padding-left: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    background-color: #111;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width:50%;
    margin:auto;
    margin-top:50px;
    padding: 0 25px 40px 10px;
    background-color: #333;
    border:4px solid #f44336;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #f4b836;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}