body, html {
	height: 100%;
	margin: 0%;
	padding: 0%;
	background: #37414a;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	overflow-y: scroll;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.3em;
	color: white;
	text-align: center;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.7em;
	color: #aaaaaa;
	text-align: center;
}

div {
	color:#FFF;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
	background-color: #111;
}

#intro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	text-align: center;
	color: #FFF;
}

#info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
	color: #FFF;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

.container {
	padding-top: 50px;
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container2 {
	width:100%;
	height:30%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.avatar {
	width: 175px;
	height: 175px;
	box-sizing: border-box;
	border: 6px #f44336 solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	transform: translatey(0px);
	animation: float 4s ease-in-out infinite;
}

.avatar:hover{
	border: 7px white solid;
}

.avatar img {
	width: 100%;
	height: auto;
}

.content {
	width:100%;
	padding: 9px 10px;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 0;
}

.content2 {
	width: 100%;
	max-width: calc(90%/3);
	padding: 30px 30px;
	box-sizing: border-box;
	text-align: center;
	float: left;
	color: #333;
	background:#f44336;
	border-width: 1px;
	border-style: solid;
	transition-duration: 0.4s;
}

.content2:hover {
	background: #f4b836;
}

.active {
	background-color: #000;
}

.wrapper {
	text-align: center;
}

.button {
	border-radius: 4px;
	background-color: #f44336;
	border: none;
	color: #FFF;
	transition: all 0.5s;
	cursor: pointer;
	padding: 20px;
	width: 200px;
	text-align: center;
	text-decoration: none;
	font-size: 1.3em;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\21db';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5px;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}