<!DOCTYPE html>
<html>
<ul>
    <li><a href="/templates/home.html">HOME</a></li>
    <li><a href="/templates/categories.html">CATEGORIES</a></li>
    <li><a href="/templates/quiz.html">QUIZ</a></li>
    <li class="active"><a href="/templates/about.html">ABOUT US</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="content">
        <h1>Information</h1>
        <h2>Hamlet Relationship Categorizer</h2>
    </div>
    <div class="content">
        <h3>
            Critical Theory: Gender Theory <br>
            Role: Web Developer <br>
            Audience: Young Adults <br>
            Format: Online quiz, "What kind of Pokemon are you" theme <br>
            Topic: Relationships
        </h3>
    </div>
</body>

</html>