<!DOCTYPE html>
<html>
<ul>
  <li><a href="/templates/home.html">HOME</a></li>
  <li class="active"><a href="/templates/categories.html">CATEGORIES</a></li>
  <li><a href="/templates/quiz.html">QUIZ</a></li>
  <li><a href="/templates/about.html">ABOUT US</a></li>
</ul>

<head>
  <link rel="stylesheet" href="/stylesheets/blog.css">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>
  <h1>CATEGORIES</h1>
  <!--<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">-->

  <div class="container">
    <!-- Normal Demo-->
    <div class="column">
      <!-- Post-->
      <div class="post-module">
        <!-- Thumbnail-->
        <div class="thumbnail">
          <div class="date">
            <div class="day">14</div>
            <div class="month">Nov</div>
          </div><img src="https://i.pinimg.com/originals/b7/46/77/b74677e5c651b9b69be66e871f8c9292.jpg" />
        </div>
        <!-- Post Content-->
        <div class="post-content">
          <div class="category">TEENAGE</div>
          <h3 class="title">Hamlet and Ophelia</h1>
          <h2 class="sub_title">A classical romance.</h2>
          <p class="description">The relationship between Hamlet and Ophelia is affected by...</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">By </i>Raymond Zhang</span><span
              class="comments"><i class="fa fa-comments"></i><a href="/templates/hamletandophelia.html"> Read More</a></span></div>
        </div>
      </div>
    </div>
    <div class="column">
      <!-- Post-->
      <div class="post-module">
        <!-- Thumbnail-->
        <div class="thumbnail">
          <div class="date">
            <div class="day">13</div>
            <div class="month">Nov</div>
          </div><img src="http://english12aphamlet.weebly.com/uploads/1/8/3/2/18326859/270381622.jpg?362" />
        </div>
        <!-- Post Content-->
        <div class="post-content">
          <div class="category">FAMILY</div>
          <h3 class="title">Hamlet and Gertrude</h1>
          <h2 class="sub_title">Familial love.</h2>
          <p class="description">Although Hamlet and Gertrude initially give the impression...</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">By </i> Raymond Zhang</span><span
              class="comments"><i class="fa fa-comments"></i><a href="/templates/hamletandgertrude.html"> Read More</a></span></div>
        </div>
      </div>
    </div>
    <div class="column">
      <!-- Post-->
      <div class="post-module">
        <!-- Thumbnail-->
        <div class="thumbnail">
          <div class="date">
            <div class="day">13</div>
            <div class="month">Nov</div>
          </div><img src="https://hamletdramaturgy.files.wordpress.com/2013/03/horatio-and-hamlet.jpg" />
        </div>
        <!-- Post Content-->
        <div class="post-content">
          <div class="category">FRIENDSHIP</div>
          <h3 class="title">Hamlet and Horatio</h1>
          <h2 class="sub_title">True friendship.</h2>
          <p class="description"> While Rosencrantz and Guildenstern are close friends of Hamlet...</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">By</i> Raymond Zhang</span><span
              class="comments"><i class="fa fa-comments"></i><a href="/templates/hamletandhoratio.html"> Read More</a></span></div>
        </div>
      </div>
    </div>
    <div class="column">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail">
            <div class="date">
              <div class="day">10</div>
              <div class="month">Nov</div>
            </div><img src="https://s-media-cache-ak0.pinimg.com/736x/eb/94/a6/eb94a61012dababda229bdd9a6168454.jpg" />
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <div class="category">INTRODUCTION</div>
            <h3 class="title">Categories</h1>
            <h2 class="sub_title">An explanation.</h2>
            <p class="description">Categories on this website each represent...</p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">By</i> Raymond Zhang</span><span
                class="comments"><i class="fa fa-comments"></i><a href="/templates/hamletintroduction.html"> Read More</a></span></div>
          </div>
        </div>
      </div>
  </div>
</body>

<script src="scripts/blog.js"></script>

</html>