<!DOCTYPE html>
<html>
<ul>
    <li><a href="/templates/home.html">HOME</a></li>
    <li><a href="/templates/categories.html">CATEGORIES</a></li>
    <li><a href="/templates/quiz.html">QUIZ</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>
    <div class="content">
        <h1>Hamlet and Horatio</h1>
        <h2>By: Raymond Zhang</h2>
        <img src="https://hamletdramaturgy.files.wordpress.com/2013/03/horatio-and-hamlet.jpg" alt="Hamlet and Ophelia"
            style="width:500;height:300px;">
        <br>
        <h3>Summary</h3>
        <p>
            "Here's yet some liquor left," (Shakespeare 5.2 15). 
            <br><br>
            Although tragedy befalls Hamlet, Hamlet and Horatio's relationship is caring and filled with trust as well as loyalty.
            Horatio's offer to drink the very poison which kills Hamlet indicates the extent to which he loves him. 
            Their relationship is explored further down below. 
            The passage touches upon some psychoanalysis, but does not put a focus on it.
        </p>
        <h3>Characteristics</h3>
        <p>
            While Rosencrantz and Guildenstern are close friends of Hamlet, they disappoint him when they reveal that they came to visit Hamlet because they were sent for. 
            Horatio however, comes to visit Hamlet out of his own free will and thus introduces himself as a genuine friend. 
            The relationship between Horatio and Hamlet is one of pure friendship, where Horatio supports his friend and his beliefs. 
            With Hamlet in a time of great stress, Horatio decides he should be there for his friend.
            This results in a strong bond between the two with Hamlet trusting Horatio and confiding in him his plan.
            The first secret Horatio agrees to keep is that of the ghost, but it is not the last. 
            Horatio's dependability and loyalty to Hamlet prove himself as a great friend.
            Trust and loyalty are characteristic of their relationship.
        </p>
        <h3>1. Trust</h3>
        <h3>2. Loyalty</h3>
        <p>
            Horatio demonstrates his genuine concern over Hamlet's wellbeing with his comments and judgement of Hamlet's choices.
            Horatio has a strong ego, giving him a calm demeaner and intelligent behaviour.
            This causes him to question some of Hamlet's choices, such as Hamlet's fight against Laertes and his choice to follow the ghost.
            Horatio's generally calm and rational persona emphasizes his grief when Hamlet is killed and Horatio offers to kill himself. 
            It is only Hamlet's dying wish to spread his story which pulls Horatio away from suicide, after which Horatio says: 
            "Now cracks a noble heart.-Good night, sweet prince," (Shakespeare 5.2 16).
            Horatio expresses his grief and pays tribute to Hamlet's noble nature through his diction, a nature which Hamlet himself questioned.
            Horatio loves Hamlet, but remains grounded and sensible throughout much of the play. 
            His outburst of grief and final statement mark the extent to which he cared about Hamlet. 
            This marks the final characteristic of Hamlet and Horatio's relationship, caring.
        </p>
        <h3>3. Caring</h3>
    </div>

</body>

</html>