<!DOCTYPE html>
<html>
<ul>
    <li><a href="/templates/home.html">HOME</a></li>
    <li class="active"><a href="/templates/categories.html">CATEGORIES</a></li>
    <li><a href="/templates/quiz.html">QUIZ</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="content">
        <h1>Hamlet and Horatio</h1>
        <h2>By: Raymond Zhang</h2>
        <img src="https://hamletdramaturgy.files.wordpress.com/2013/03/horatio-and-hamlet.jpg" alt="Hamlet and Ophelia"
            style="width:500;height:300px;">
        <br>
        <p>
            
        </p>
    </div>

</body>

</html>