<!DOCTYPE html>
<html>
<ul>
    <li><a href="/templates/home.html">HOME</a></li>
    <li><a href="/templates/categories.html">CATEGORIES</a></li>
    <li><a href="/templates/quiz.html">QUIZ</a></li>
    <li><a href="/templates/about.html">ABOUT US</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>
    <div class="content">
        <h1>Hamlet and Ophelia</h1>
        <h2>By: Raymond Zhang</h2>
        <img src="https://i.pinimg.com/originals/b7/46/77/b74677e5c651b9b69be66e871f8c9292.jpg" alt="Hamlet and Ophelia"
            style="width:500;height:300px;">
        <br>
        <h3 class="show-on-scroll">Summary</h3>
        <p class="show-on-scroll">
            Ophelia and Hamlet have a troublesome relationship cluttered with problems.
            Their relationship appears innocent at first, but unrealistic expecations and disapproving parents quickly
            cause it to fall apart.
            <b>Hamlet and Ophelia's relationship is a relationship which starts off well but slowly spirals into failure.</b>
            <br>Theory: Gender Theory
        </p>
        <h3 class="show-on-scroll">Characteristics</h3>
        <h3 class="show-on-scroll">1. Unrealistic Expecations</h3>
        <p class="show-on-scroll">
            The relationship between Hamlet and Ophelia is affected by many external factors.
            Societal standards, their parents and extenuating cirumstances all result in the breakdown of the
            relationship and the tragedy which befalls them.
            First and foremost, Ophelia is subject to the impossible expectations of the patriarchal society in which
            she lives in.
            Laertes, her own brother, tells her right at the start of the play that she is not of high enough status to
            have Hamlet's true love and that he is just playing with her:
            "Perhaps he loves you now, and no soil nor cautel doth besmirch the virtue of his will, but you must fear."
            (Shakespeare 1.3 1).
            His valuation of Ophelia seems to depend greatly on if she is chaste, an ideology representative of the
            societal standards of the time.
            Her own lover, Hamlet, has the unrealistic expecation of complete honesty and full commitment.
            When Hamlet corners Ophelia into lying about where her father is, he already knows Polonius is hiding
            nearby.
            He does not respect her loyalty to her father or that she had no real choice but to lie and goes into a rage.
            Hamlet's expectation for Ophelia to make a choice between him and her father leaves Ophelia in an impossible situation, marking the first characteristic of their relationship, unrealistic expecations.
        </p>
        <h3 class="show-on-scroll">2. Disapproving Parents</h3>
        <p class="show-on-scroll">
            The impact of unrealistic expectations within their relationship is exacerbated by parental influence.
            Most notably, Polonius' lack of trust in his daughter and manipulation of her relationship with Hamlet is a
            major reason for the failure.
            He requests that Ophelia should not return any of Hamlet's messages and deny all forms of contact: 
            "I would not, in plain terms, from this time forth, have you so slander any moment leisure, as to give words or talk with the Lord Hamlet, " (Shakespeare 1.3 4).
            His request emphasizes his belief that Ophelia has no ability to determine whether her own feelings and love
            for Hamlet is sincere or not, a view common among men of the time.
            Polonius' disapproval and meddling in Hamlet and Ophelia's relationship creates a rift between the lovers which
            only grows larger as time goes on.
            Disapproving parents thus marks the second characteristic of Hamlet and Ophelia's relationship.
        </p>
        <h3 class="show-on-scroll">3. Innocent Relationship</h3>
        <p class="show-on-scroll">
            There are other defining characteristics of their relationship which do not necessarily play a large role in its
            outcome.
            One such characteristic is the initial perception of a pure relationship.
            Perhaps ever so faintly comparable to the fantasized teenage romance, Hamlet and Ophelia first leave the
            impression of being madly in love:
            "My lord, he hath importuned me with love in honorable fashion," (Shakespeare 1.3 4).
            Hamlet expresses his love towards Ophelia through love letters and there are strong hints of sexual
            relations.
            Despite this initial impression, there is an increasingly abusive side to the relationship, especially
            from Hamlet and how he insults Ophelia.
            As a woman in such a time, Ophelia has no ability to protect herself and eventually shatters under Hamlet's derogatory statements.
            Perhaps Hamlet's Oedipus complex prevented him from fully loving Ophelia, but his negative view of woman, both due to his mother's actions and the beliefs of the time, is the main reason for the breakdown of their love.
            The third and last characteristic of their relationship is an initially innocent appearance.
        </p>
    </div>

</body>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="scripts/scrollanim.js"></script>

</html>