<!DOCTYPE html>
<html>
<ul>
    <li><a href="/templates/home.html">HOME</a></li>
    <li><a href="/templates/stories.html">STORIES</a></li>
    <li><a href="/templates/quiz.html">QUIZ</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>
    <div class="content">
        <h1>Hamlet and Ophelia</h1>
        <h2>By: Raymond Zhang</h2> 
        <img src="https://i.pinimg.com/originals/b7/46/77/b74677e5c651b9b69be66e871f8c9292.jpg" alt="Hamlet and Ophelia" style="width:500;height:300px;">
        <br>
        <p>
            The relationship between Hamlet and Ophelia is affected by many external factors. 
            Their parents, societal standards and extenuating cirumstances all result in the breakdown of the relationship and the tragedy which befalls them.
            First and foremost, Ophelia is subject to the impossible expectations of the patriarchal society in which she lives in.
            Laertes, her own brother, tells her right at the start of the play that she is not of high enough status to have Hamlet's true love and that he is just playing with her:
            <br>
            ""
            <br>
            His valutation of Ophelia seems to depend greatly on if she is chaste
        </p>
    </div>
    
</body>

</html>