<!DOCTYPE html>
<html>
<ul>
    <li><a href="/templates/home.html">HOME</a></li>
    <li><a href="/templates/categories.html">CATEGORIES</a></li>
    <li><a href="/templates/quiz.html">QUIZ</a></li>
    <li><a href="/templates/about.html">ABOUT US</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>
    <div class="content">
        <h1>Categories from Hamlet</h1>
        <h2>By: Raymond Zhang</h2>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/eb/94/a6/eb94a61012dababda229bdd9a6168454.jpg"
            alt="Hamlet and Ophelia" style="width:500;height:300px;">
        <br>
        <p class="show-on-scroll">
            Categories on this website each represent a type of relationship.
            If you were to complete the quiz that this website is centered around, you would recieve one of the types as
            your result.
            This website operates by having you complete a fun quiz which asks questions about a relationship (your
            choice) and categorizes it as a
            relationship in Hamlet, attempting to predict the result of your relationship.
            Analyzing relationships with various critial theories reveal hidden characteristics in each
            that led to either their success or their destruction.
            These hidden characteristics and theories are explored in each relationship's respective page, providing
            insight into how the quiz is designed and what your result means.
            Please take the result with a grain of salt as perfect accuracy is impossible.
        </p>
    </div>

</body>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="scripts/scrollanim.js"></script>

</html>