<!DOCTYPE html>
<html>
<ul>
    <li><a href="/templates/home.html">HOME</a></li>
    <li><a href="/templates/categories.html">CATEGORIES</a></li>
    <li><a href="/templates/quiz.html">QUIZ</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>
    <div class="content">
        <h1>Hamlet and Gertrude</h1>
        <h2>By: Raymond Zhang</h2>
        <img src="http://english12aphamlet.weebly.com/uploads/1/8/3/2/18326859/270381622.jpg?362"
            alt="Hamlet and Ophelia" style="width:500;height:300px;">
        <br>
        <h3>Summary</h3>
        <p class="show-on-scroll">
            "I will, my lord; I pray you pardon me. (drinks)," (Shakespeare 5.2 13). 
            <br><br>
            Gertrude drinks the poisoned wine, saving Hamlet.
            Whether she does so because she is unaware or out of love for Hamlet is unknown, but this is explored further down below. 
            Hamlet and Gertrude have a relationship characterized by forbidden love, familial love and conflict.
            The passage touches upon psychoanalysis. 
            <b>Hamlet and Gertrude's relationship is one with good and bad traits, but ultimately meant to fail.</b>
        </p>
        <h3>Characteristics</h3>
        <h3>1. Forbidden Love</h3>
        <p class="show-on-scroll">
            Although Hamlet and Gertrude initially give the impression of having a rocky relationship, Gertrude proves her love for Hamlet with her final act.
            Having married Hamlet's uncle, Claudius, shortly after Hamlet's father's death, Gertrude is portrayed as unfaithful and untrustworthy.
            Her affair with Claudius is a source of friction between her and her son, but in the end their love for each other is apparent.
            The first and potentially most defining trait of their relationship is this very love.
            Depending on the interpretation of the reader, Hamlet's relationship with his mother can be seen as incestuous. 
            Hamlet obsesses over her sexual activity and the physicality in some of his actions towards his mother leave hints of something more than family.
            Perhaps the most arguable point of proof lies with Gertrude's final act. 
            She willfully drinks the poisoned wine, saving her son.
            Whether this action was intential is also up for interpretation, however it is representative of her maternal instincts towards Hamlet, perhaps even the strength of her real feelings towards Hamlet.
            As Gertrude never freely expresses much of her inner thoughts and feelings, much is up to the reader.
            That being said the Oedipus complex makes an appearance with this relationship between Hamlet and Gertrude.
        </p>
        <h3>2. Familial Love</h3>
        <p class="show-on-scroll">Since purely familial love holds a strong argument as well, it would be unjust to exclude it as a major characteristic.</p>
        <h3>3. Conflictual</h3>
        <p class="show-on-scroll">
            The conflict which separates Hamlet and Gertrude is the assassination of his father and her quick remarriage. 
            Gertrude is able to identify her marriage as morally questionable, citing it as the reason for Hamlet's madness:
            "I doubt it is no other but the main:
            His father’s death and our o'erhasty marriage," (Shakespeare 2.2 2).
            However her inaction on her revelations create more conflict between her and her son which leaves the two in quite a poor relationship.
            Hamlet views his mother as shallow and lustful, due to both gender roles of the time and the supernatural influence of the ghost.
            The conflict between Hamlet and Gertrude is quite impactful and as such the third characteristic of Hamlet and Gertrude's relationship is a source of disagreement.
        </p>
    </div>

</body>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="scripts/scrollanim.js"></script>

</html>