<!DOCTYPE html>
<html>
<ul>
    <li><a href="/templates/home.html">HOME</a></li>
    <li class="active"><a href="/templates/categories.html">CATEGORIES</a></li>
    <li><a href="/templates/quiz.html">QUIZ</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>
    <div class="content">
        <h1>Hamlet and Gertrude</h1>
        <h2>By: Raymond Zhang</h2>
        <img src="http://english12aphamlet.weebly.com/uploads/1/8/3/2/18326859/270381622.jpg?362"
            alt="Hamlet and Ophelia" style="width:500;height:300px;">
        <p>
            "hi"
        </p>
    </div>

</body>

</html>