<!DOCTYPE html>
<html>
<ul>
    <li class="active"><a href="/templates/home.html">HOME</a></li>
    <li><a href="/templates/categories.html">CATEGORIES</a></li>
    <li><a href="/templates/quiz.html">QUIZ</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="avatar">
            <a href="/templates/quiz.html">
                <img src="https://img.icons8.com/cotton/2x/like--v3.png" alt="logo" /></a>
        </div>
    </div>
    <div class="content">
        <h1>Relationship Categorizer</h1>
        <h2>Find out which Hamlet style relationship you are in!</h2>
    </div>
    <div class="container2">
        <div class="content2">
            <p id="info">Fun</p>
        </div>
        <div class="content2">
            <p id="info">Accurate</p>
        </div>
        <div class="content2">
            <p id="info">Quick</p>
        </div>
    </div>
</body>

</html>