<!DOCTYPE html>
<html>
<ul>
    <li><a href = "/templates/home.html">Home</a></li>
    <li><a href = "/templates/projects.html">Projects</a></li>
    <li><a href = "/templates/links.html">Links</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/default_theme.css">
</head>

<body>
    <div class="container">
        <div class="avatar">
            <a href="https://github.com/SlowestLoris">
                <img src="https://avatars3.githubusercontent.com/u/30222320?s=460&v=4" alt="logo" /></a>
        </div>
    </div>
    <h1>SlowestLoris</h1>
    <p id="intro">AKA Raymond Zhang</p>
</body>

</html>