<!DOCTYPE html>
<html>
<ul>
    <li class="active"><a href="/templates/home.html">HOME</a></li>
    <li><a href="/templates/projects.html">PROJECTS</a></li>
    <li><a href="/templates/links.html">LINKS</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="avatar">
            <a href="https://github.com/SlowestLoris">
                <img src="https://avatars3.githubusercontent.com/u/30222320?s=460&v=4" alt="logo" /></a>
        </div>
    </div>
    <div class="content">
        <h1>SlowestLoris</h1>
        <p id="intro">AKA Raymond Zhang</p>
    </div>
    <div class="content2">
        <p id="info">Student</p>
    </div>
    <div class="content2">
        <p id="info">Programmer</p>
    </div>
    <div class="content2">
        <p id="info">Developer</p>
    </div>
</body>

</html>