<!DOCTYPE html>
<html>
<ul>
    <li><a href="/templates/home.html">HOME</a></li>
    <li class="active"><a href="/templates/projects.html">PROJECTS</a></li>
    <li><a href="/templates/links.html">LINKS</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>Projects</h1>
    <h2>Wikipedia</h2>
    <div class="wrapper">
        <iframe src="https://en.wikipedia.org/wiki/Main_Page" width="50%" height="400" allowfullscreen frameborder="0">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
</body>

</html>