<!DOCTYPE html>
<html>
<ul>
    <li><a href="/templates/home.html">HOME</a></li>
    <li><a href="/templates/categories.html">CATEGORIES</a></li>
    <li class="active"><a href="/templates/quiz.html">QUIZ</a></li>
</ul>

<head>
    <link rel="stylesheet" href="/stylesheets/quiz.css">
</head>

<body>
    <div id='container'>
        <div id='title'>
            <h1>Hamlet Personality Quiz</h1>
        </div>
        <br/>
        <div id='quiz'></div>
        <div class='button' id='next'><a href='#'>Next</a></div>
        <div class='button' id='prev'><a href='#'>Prev</a></div>
        <div class='button' id='start'> <a href='#'>Start Over</a></div>
        <!-- <button class='' id='next'>Next</a></button>
    		<button class='' id='prev'>Prev</a></button>
            <button class='' id='start'> Start Over</a></button> -->
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type='text/javascript' src='scripts/quiz.js'></script>
    </div>
    <h4>For more information on your result, visit the categories page!</h4>
</body>

</html>